
mlruns/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore Python virtual environment
.venv/

# Ignore environment variables
.env

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore IDE specific files (e.g., VS Code)
.vscode/

#models/